.header{
	background:#09f9bd;
	width: 900px;
	height: 100px;
	margin: auto;
}
.header h1{
	text-align: right;
	background: #27cec6;
	margin-right: 20px;
	float: right;
	font-family: sans-serif;
	padding: 5px;
	border-radius: 50px;
}
.header small{
	padding: 10px;
	font-size: 50%;
	font-family: times;
}
.menu{
	width: 900px;
	height: 40px;
	margin: auto;
	background: #0038ff;
	border-top:2px solid #214ff2;

}
.menu ul li{
	display: inline;
}
.menu ul li a{
	color: #fff;
	margin: 0 20px;
	text-decoration: none;
	font-family: arial;
}

.menu ul li a:hover{
	color: #ffff00;
	border-bottom: 2px solid #ffff00;
}
.container{
	width: 890px;
	height: 400px;
	margin: 0 auto;
	background: #999;
	padding: 5px
}
.subc{
	width: 280px;
	height: 380px;
	margin: 0 auto;
	float: left;
	border:1px solid black;
	border-radius: 10px;
	background: #fff;
	margin: 5px;
}